.product-img-wrapper {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
}

.product-img {
  display: block;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  width: auto;
}

.product-info {
  .price {
    color: #e4022d;
  }
}